body {
    text-align: center;
    color:rgb(17, 55, 6)
    background-color:lightblue
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #9a197c;
  }

  input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
